index.html
{
  "name": "Trivertido - QR Code Evolution API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "qr-trivertido",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "qr-trivertido"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://n8n-grupo-de-ofertas-evolution-api.hfy4bl.easypanel.host/instance/connect/Trivertido",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-request-node",
      "name": "Get QR Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-key",
          "name": "Evolution API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Trivertido - Conectar WhatsApp</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      min-height: 100vh;\n      margin: 0;\n      background: #f5f5f5;\n    }\n    .card {\n      background: white;\n      border-radius: 16px;\n      padding: 32px;\n      box-shadow: 0 4px 20px rgba(0,0,0,0.1);\n      text-align: center;\n      max-width: 400px;\n      width: 90%;\n    }\n    h1 { color: #25D366; margin-bottom: 8px; font-size: 22px; }\n    p { color: #666; margin-bottom: 24px; font-size: 14px; }\n    img {\n      width: 280px;\n      height: 280px;\n      border: 2px solid #eee;\n      border-radius: 8px;\n    }\n    .status {\n      margin-top: 16px;\n      font-size: 13px;\n      color: #999;\n    }\n    .refresh {\n      margin-top: 20px;\n      padding: 10px 24px;\n      background: #25D366;\n      color: white;\n      border: none;\n      border-radius: 8px;\n      font-size: 14px;\n      cursor: pointer;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <h1>📱 Trivertido 3D</h1>\n    <p>Escaneie o QR Code com o WhatsApp para conectar</p>\n    <img src=\"{{ $json.base64 }}\" alt=\"QR Code WhatsApp\" />\n    <p class=\"status\">O QR Code expira em ~60 segundos. Escaneie rapidamente!</p>\n    <button class=\"refresh\" onclick=\"location.reload()\">🔄 Gerar novo QR</button>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-webhook-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get QR Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
